@font-face {
  font-family: "sfui";
  font-weight: 300;
  font-style: normal;
  src: local("SFUIDisplay Light"),
    url("../fonts/Sfuidisplay-Light.woff2") format("woff2"),
    url("../fonts/Sfuidisplay-Light.woff") format("woff");
  font-display: swap;
}
