.footer {
  padding: 35px 0;
  background-color: #2d2d2d;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  position: relative;

  &--col1 {
    width: 270px;
  }

  &--col2 {
    width: 370px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--col3 {
    width: 270px;
  }

  &::after {
    @include pseudo;
    width: 270px;
    height: 1px;
    background-color: #9a9a9a;
    top: 57px;
  }
}

.footer__title {
  margin: 0 0 70px;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer__menu {
  padding: 0;
}

.footer__menu-item {
  text-align: center;
  padding: 10px 0;
}

.footer__menu-link {
  font-size: 20px;
  color: #ffffff;
}

.footer__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.footer__pay-item {
  display: inline-block;
  margin: 0 40px 0 40px;
}

.footer__links-link {
  font-size: 16px;
  color: #858585;
}

.footer__copyright {
  font-size: 16px;
  color: #858585;
  text-align: center;
}
