.footer {
  padding: 35px 0;
  background-color: #2d2d2d;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 0 0 75px;
  position: relative;
  
  &::after {
    @include pseudo;
    width: 100%;
    height: 1px;
    background-color: #9a9a9a;
    bottom: 0;
  }
}

.footer__col {
  position: relative;

  &--col1 {
    width: 270px;
  }

  &--col2 {
    width: 370px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--col3 {
    width: 270px;
  }

  &::after {
    @include pseudo;
    width: 270px;
    height: 1px;
    background-color: #9a9a9a;
    top: 57px;
  }
}

.footer__title {
  margin: 0 0 70px;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer__menu {
  padding: 0;
  margin: 0;
}

.footer__menu-item {
  text-align: center;
  padding: 10px 0;
}

.footer__menu-item:first-child {
  padding: 0 0 10px;
}

.footer__menu-item:last-child {
  padding: 10px 0 0;
}

.footer__menu-link {
  font-size: 20px;
  color: #ffffff;
}

.footer__bottom {
  padding: 40px 0 0;
}

.footer__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.footer__pay-item {
  display: inline-block;
  margin: 0 40px 0 40px;
}

//.footer__links-container {
//  position: relative;
//}

.footer__links {
  margin: 35px 0 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 100;
  
//  &::after {
//    @include pseudo;
//    width: 100%;
//    height: 1px;
//    background-color: #9a9a9a;
//    top: 50%;
//    left: 0;
//    z-index: 0;
//  }
}

.footer__links-item {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  
  &::before {
    @include pseudo;
    width: 1px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #7a7a7a;
  }
  
  &:last-child {
    
    &::after {
      @include pseudo;
      width: 1px;
      height: 15px;
      top: 0;
      right: 0;
      background-color: #7a7a7a;
    }
  }
}

.footer__links-link {
  font-size: 16px;
  color: #858585;
}

.footer__copyright {
  margin: 35px 0 0;
  font-size: 16px;
  color: #858585;
  text-align: center;
}
